# Qn:1

In [1]:
name =  input("Enter the name ")
RollNo = input("Enter the roll no: ")
mark=input("Enter the mark ")

Enter the name Anisha
Enter the roll no: 21
Enter the mark 78

# Qn:2

In [2]:
c=float(input("Temperature in Celsius = "))
f=(c*9/5)+32
print(c," Celsius is ",f," Farenheit")

Temperature in Celsius = 34
34.0  Celsius is  93.2  Farenheit

In [4]:
farenheit=float(input("Temperature in Farenheit ="))
celsius=((farenheit - 32) * 5/9)
print(farenheit," Farenheit is ",celsius," Celsius")

Temperature in Farenheit =93.4
93.4  Farenheit is  34.111111111111114  Celsius

# Qn:3

In [5]:
a=55
b=65
print("Product of a and b is ",a*b)

Product of a and b is  3575

# Qn:4

In [4]:
sentence=input("String to be displayed is ")
print(sentence)

String to be displayed is Learn**Python** by Developing a **Website**
Learn**Python** by Developing a **Website**

# Qn:5

In [3]:
r=float(input("Radius of the circle is "))
import math
area=(r*r)*math.pi
print("Area of the circle is ",area)

Radius of the circle is 7
Area of the circle is  153.93804002589985

# Qn:6

In [4]:
list1=[21,56,73,12,1,34,45,56]

In [5]:
list1.insert(3,88)

In [6]:
list1

[21, 56, 73, 88, 12, 1, 34, 45, 56]

# Qn:7

In [7]:
dict1 = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
dict1['location'] = dict1['city']
del dict1['city']

print(dict1)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# Qn:8

In [8]:
dict2 = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [11]:
dict2['emp3']['salary']=8500

In [12]:
dict2

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

# Qn:9

In [1]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
tuple2

(43, 54)

In [2]:
type(tuple2)

tuple

# Qn:10

In [3]:
tuple3 = (50, 10, 60, 70, 50,83,567,50,81)
tuple3.count(50)

3